.Button {
  cursor: pointer;
  color: var(--inverted-color);
}

.clear {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  background: transparent;
}

.outline {
  padding: 10px 15px;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  background: transparent;
}
