.Sidebar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background: var(--inverted-bg-color);
  position: relative;
  transition: 0.3s ease width;
}

.switchers {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 20px;
  width: 100%;
  gap: 15px;
}

.links {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;

  &__link {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__icon {
    fill: var(--inverted-primary-color);
  }
}

.collapsed {
  width: var(--sidebar-width-collapsible);

  .switchers {
    flex-direction: column;
  }

  .links {
    flex-direction: column;
    gap: 10px;

    &__text {
      display: none;
    }
  }
}

.collapsible_btn {
  position: absolute;
  bottom: 40px;
  right: -40px;
}