.Sidebar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background: var(--inverted-bg-color);
  position: relative;
  transition: 0.3s ease width;
}

.switchers {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 20px;
  width: 100%;
  gap: 15px;
}

.collapsed {
  width: var(--sidebar-width-collapsible);

  .switchers {
    flex-direction: column;
  }
}

.collapsible_btn {
  position: absolute;
  bottom: 40px;
  right: -40px;
}

.links__first-link {
  margin-right: 15px;
}